.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .loader {
    border: 8px solid #1e7d7e;
    border-top: 8px solid #3fc7c7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
