.videos-wrapper {
  display: flex;
  flex-wrap: wrap;
  //width: 80%;

  .video-wrapper {
    width: 30%;
    margin: 10px;

    iframe {
      width: 100%;
      height: 250px;
    }

    .video-titre {
      margin-top: 10px;
    }
  }
}

@media (max-width: 639px) {
  .videos-wrapper {
    width: 100% !important;

    .video-wrapper {
      width: 100% !important;
    }
  }
}


