#dates {
    margin: 0 20%;
}

.date-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    //justify-content: center;


    .date {
        border: 1px solid #333;
        padding: 20px;
        margin: 10px;
        width: 15%;

        .date-date {
            display: flex;

            .day {
                font-size: 52px;
                padding-right: 5px;
            }

            .date-rest {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: 800;
            }

        }

        .nom {
            font-size: 20px;
            font-weight: 800;
        }
    }
}

@media (max-width: 640px) {
    .date-wrapper {
        justify-content: center;

        .date {
            width: 80% !important;
        }
    }
}

@media (min-width: 640px) and (max-width: 1375px) {
    .date-wrapper {
        justify-content: center;
    }
}

