.galleries-wrapper {
    .gallerie-item {

        padding: 20px 10%;

        h3 {
            margin-left: 20px;
            color: #cccccc;
        }

        .preview-wrapper {
            display: flex;
            flex-wrap: wrap;

            img {
                max-height: 200px;
                margin: 2px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 639px) {
    .galleries-wrapper .gallerie-item {
        padding: 20px 0;

        .preview-wrapper {
            justify-content: center;

            img {
                width: 48%;
                max-height: none;
            }
        }
    }
}

