.header {
    margin-bottom: 20px;

    .video-wrapper {
        position: relative;

        video {
            width: 100%;
            display: block;
        }

        img {
            position: absolute;
            width: 200px;
            top: calc(100vh - 220px);
            left: calc(50% - 100px);
        }

        &:before {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        //&:after {
        //    content: "";
        //    display: block;
        //    background: #000000;
        //    height: 135px;
        //    margin-top: -70px;
        //    -webkit-transform: rotate(4deg);
        //    transform: rotate(4deg);
        //    transform: skew(0deg,4deg);
        //    -ms-transform: skew(0deg,4deg);
        //    -webkit-transform: skew(0deg,4deg);
        //}
    }
}

@media (max-width: 639px) {
    .header{
        margin-bottom: 160px;

        .video-wrapper img {
            top: 65vw;
            width: 100px;
            left: calc(50% - 50px);
        }
    }
}

@media (min-width: 640px) and (max-width: 1375px) {
    .header .video-wrapper img {
        top: 45vw;
        width: 100px;
        left: calc(50% - 50px);
    }
}
