#news {
    background: #333333;

    .news-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        .news-item {
            width: 35%;
            margin: 20px;
            border: 1px solid #333;

            iframe {
                width: 100%;
                height: 63%;
            }

            .news-text {
                padding: 20px;

                .news-description {
                    white-space: pre-line;
                }
            }
        }
    }


}


@media (max-width: 768px) {
    .news-item {
        width: 100% !important;
    }
}


