.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;

    .news-item {
        width: 35%;
        margin: 20px;

        //border: 1px solid #343A40;

        .media {

            width: 100%;
            //height: 63%;

            img,
            iframe {
                height: inherit;
                width: 100%;
            }

            iframe {
                //width: 100%;
                height: 300px;
            }
        }

        .news-text {
            padding: 20px;

            h2 {
                color: #868e96;
            }

            .news-description {
                white-space: pre-line;
                color: #dee2e6;
            }
        }
    }
}

@media (max-width: 639px) {
    .news-wrapper {
        padding: 0;

        .news-item {
            width: 100% !important;
        }
    }

    .uk-nav-container:not(.uk-navbar-transparent) {
        background: none;
    }
}


