@font-face {
    font-family: 'PermanentMarker';
    src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    background: #18191A;
    color: #e4e6eb;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Staatliches;
    font-size: 120px;
}

img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}


