@font-face {
    font-family: 'PermanentMarker';
    src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    src: url('/fonts/Cabin-Regular.ttf') format('truetype');
}

body {
    background: #18191A;
    color: #e4e6eb;
    font-family: Cabin;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Staatliches;
    font-size: 120px;
}

img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}


